---
import Layout from "../../layouts/Layout.astro";
import { prettifyDate } from "../../utils/date";
import { compareArticle, type Article } from "../../utils/article";

import { getCollection } from "astro:content";

function groupArticlesByYear(articles: Article[]) {
  const byYear: { [key in string]: Article[] } = {};

  for (const article of articles) {
    const year = article.data.date.getFullYear();

    byYear[year] = (byYear[year] ?? []).concat(article);
  }

  return byYear;
}

const articles = (await getCollection("article")).sort(compareArticle);

const byYearEntries = Object.entries(groupArticlesByYear(articles)).sort(
  (a, b) => (a[0] > b[0] ? -1 : 1)
);
---

<Layout title="전체 글">
  <ul class="articles">
    {
      byYearEntries.map(([year, articles]) => {
        return (
          <li class="articles-group">
            <h2 class="articles-group-header">{year}</h2>
            <ul class="articles-group-list">
              {articles.map((article) => {
                const { data, slug } = article;
                const { title, description, date } = data;
                return (
                  <li class="articles-group-list-item">
                    <time class="articles-group-list-item-date">
                      {prettifyDate(date, "MM. dd")}
                    </time>
                    <a
                      href={`/articles/${slug}`}
                      class="articles-group-list-item"
                    >
                      <div class="articles-group-list-item-text">
                        <div class="articles-group-list-item-title">
                          {title}
                        </div>
                        <div class="articles-group-list-item-description">
                          {description}
                        </div>
                      </div>
                    </a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style>
  .articles {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .articles-group {
    list-style: none;
    color: var(--text-color-gray);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .articles-group-header {
    font-size: 1rem;
    font-weight: 700;
    font-family: monospace;

    margin-bottom: 1rem;
  }

  .articles-group-list {
    display: flex;
    flex-direction: column;
  }

  .articles-group-list-item {
    list-style: none;

    display: flex;
    align-items: flex-start;
    gap: 8px;

    color: var(--text-color);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .articles-group-list-item-date {
    flex: 0 0 44px;
    width: 44px;
    margin-top: 4px;

    color: var(--text-color-gray);
    font-weight: 500;
    font-size: 0.8em;
    font-family: monospace;
    text-decoration: none;
  }

  .articles-group-list-item-text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .articles-group-list-item-title {
    font-weight: 700;

    display: flex;
    align-items: center;

    gap: 4px;
  }

  .articles-group-list-item-description {
    font-size: 0.8rem;
  }
</style>
