---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ArticleItem from "../components/ArticleItem.astro";
import { compareArticle } from "../utils/article";

const articles = (await getCollection("article")).sort(compareArticle);

// FIXME:
// SSG 환경에서 동작하지 않음. dynamic route 로 바꿔야 할 듯?

const articlesForPage = articles.splice(0, 5);

// const PAGE_SIZE = 5;
// const pageParam = Astro.url.searchParams.get("page");

// const page = parseInt(pageParam ?? "0");

// const totalPages = Math.ceil(articles.length / PAGE_SIZE);
// const articlesForPage = articles.splice(page * PAGE_SIZE, PAGE_SIZE);

// const hasPrev = page > 0;
// const hasNext = page < totalPages - 1;
---

<Layout title="홈" path="/">
  <ul class="home-inner">
    {articlesForPage.map((article) => <ArticleItem article={article} />)}
  </ul>
  <div class="page-navigation">
    <a href="/articles">전체 글 보기</a>
  </div>
  <!-- {
    hasNext || hasPrev ? (
      <div class="page-navigation">
        {hasPrev ? <a href={`/?page=${page - 1}`}>이전 페이지</a> : null}
        {hasNext ? <a href={`/?page=${page + 1}`}>다음 페이지</a> : null}
      </div>
    ) : null
  } -->
</Layout>

<style>
  .home-inner {
    list-style: none;
    padding: 2rem;
  }

  .page-navigation {
    padding: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
</style>
