---

---

<span class="sidebar-group-item-subtext">
  <slot />
</span>

<style>
  .sidebar-group-item-subtext {
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--text-color-gray);
    font-family: monospace;
  }
</style>
